
body {
    font-size: 1.5em;
    color: rgb(247, 167, 78);
	background-color:rgb(137,70,122);
}

hl{
	color:black;
	text-align:center;
	border-style:dashed;   
	border-width: 4px;
	margin-left: 70px;
	margin-right: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
}

#maincontent{
	margin-left:70px;
	margin-right:150px;
}
	
.center{
	margin-left: 70px;
	margin-right: 100px;
}

.pullquote{
	color:red;
	font-size:1.5em;
	padding-left:50px;
	
}