h1{
	border-top-style:dashed;
	border-bottom-style:dashed;
	padding-bottom:50px;
	padding-top:50px;
	margin-left:400px;
	margin-right:400px;
	font-family: 'Lobster', cursive;
	color:rgb(73, 84, 128);
	text-align:center;
}
h2{
	font-family: 'Ubuntu', sans-serif;
}
p{
    line-height: 1.5;
	font-size;1.5em;
}

#maincontent{
	margin-left:200px;
	margin-right:200px;
}
.picture{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width:800px;
}

.news{
	color:rgb(128, 65, 123);
	font-family: 'Fjalla One', sans-serif;
}